<mat-card>
    <mat-card-title>Create New Task</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline">
        <mat-label>Task</mat-label>
        <input matInput #tasktitle>
    </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions>
        <button style="background-color: powderblue;"  (click)="createTask(tasktitle.value)">Create</button>
        <button style="background-color: lightcoral;" (click)="cancelTask()" >Cancel</button>
    </mat-card-actions>
</mat-card>