mat-card {
    width:300px;
    height:250px;
    position: absolute;
    top:12rem;
    left :30rem;
    button {
        width: 60px;
        height: 25px;
        margin: 2rem;
        cursor: pointer;
        border-radius: 8px;
    }
}
